sudo: false
os:
  - linux
  - osx
language: node_js
node_js:
  - "0.10"
  - "0.11"
  - "0.12"
  - "4"
  - "5"
  - "6"
  - "7"
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
env:
  global:
    - JOBS=2
  matrix:
    - TEST_SUITE=unit-ci
matrix:
  fast_finish: true
  include:
    - os: linux
      node_js: "6"
      env: TEST_SUITE=lint
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export CXX=g++-4.8; fi
script: npm run $TEST_SUITE
